.footer {
    /* background-color: #fafafa;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 300%;
    height: 50px; */
   

  }
  
  .footer img{
      /* margin: 5px;
      width: 100;; */
  }